GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=
GITHUB_RUNNER_LABEL=vercel-sandbox
SANDBOX_SNAPSHOT_ID=
SANDBOX_TIMEOUT_MINUTES=45
SANDBOX_VCPUS=2
